 <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Motivation</h5>
        <p class="grey-text text-lighten-4">Hidupmu akan jauh lebih berharga dan terasa nikmat dalam menjalaninya bila fashion hidupmu kau serahkan seluruhnya kepada Allah Subhanahu Wata'ala
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    <a class="grey-text text-lighten-4 right">cursor97.blogspot.com</a>
    </div>
  </div>
</footer>
            