<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Sign up</a></li>
  <li class="divider"></li>
  <li><a href="#!">Sign in</a></li>
  <li><a href="#!">Sign out</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="{{ base_url() }}" class="brand-logo">Foundation</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ base_url() }}/articles" title="List articles"><i class="material-icons">list</i></a></li>
      <li><a href="{{ base_url() }}/articles/add" title="Add articles"><i class="material-icons">playlist_add</i></a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="large material-icons">person_pin</i></a></li>
    </ul>
  </div>
</nav>
